
p{
  font-family: Roboto;
}

.video-title{
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 26px;
  margin-bottom: 5px;
}


.video-stats{
  font-size: 14px;
  color: rgb(96,96,96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-author{
  font-size : 14px;
  color: rgb(96,96,96); 
  margin-top:0;
  margin-bottom: 20px;
}

.video-description{
  font-size: 14px;
  color:rgb(96,96,96);
  width:280px;
  line-height: 22px; 
  /* the space between every lines */
  margin-top: 0px;
  margin-bottom:50%;
}

.apple-text{
  margin-bottom:50px;
  color:rgb(5, 5, 5);
  font-size: 14px;
  background-color: rgb(227,65,64);
  color:white;
  text-align: center;
  padding-top: 18px;
  padding-bottom:18px;
}

.example:hover{
  text-decoration: underline;
  cursor: pointer;
}
